.header {
  background-color: #fff;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 2rem;
}

.logo {
  width: 12rem;
}

.mainNav {
  display: flex;
}

.navList {
  display: flex;
  column-gap: 2rem;
}

.navList li {
  text-transform: capitalize;
}
